<div class="home-section">
    <section class="hero-section">
        <div class="hero-section__text">
            <div class="hero-container">
                <h1 class="hero-section__text--title">
                    The unique furniture for your special house
                </h1>
                <button class="hero-section__text--btn">
                    Shop Now
                </button>
            </div>
        </div>
        <div class="hero-section__img">
            <img src="./assets/images/chair1.jpg" alt="chair">
        </div>
    </section>

    <section class="features-section">
        <h2>Best selling furniture</h2>
        <div class="features-container">
            <div class="features-item">
                <img src="./assets/images/table6.jpg" alt="table">
                <div class="sub-img">
                    <p class="sub-img__title">chair</p>
                    <div class="sub-img__star">
                        <div class="stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                            </div>
                        <p>price</p>
                    </div>
                    <button class="sub-img__btn">more details</button>
                </div>
            </div>
        </div>
    </section>
</div>