<div class="shop-section">
    <section class="search-container">
        <div class="search">
            <input class="search__input" type="text" placeholder="search">
            <div class="search__sort">
                <button class="search__sort--btn">Sort By</button>
            </div>
        </div>
    </section>

    <section class="filter-container">
        <div class="filter">
            <h2>Filtered by</h2>

            <div class="filter__collection">
                <div class="collection__menu">
                    <span>collection</span>
                    <span><i class="fas fa-chevron-down"></i></span>
                </div>
                <ul class="collection__list">
                   <li>Spring-summer</li>
                   <li>Autumn- Winter</li>
                </ul>

                <div class="color__menu">
                    <span>color</span>
                    <span><i class="fas fa-chevron-down"></i></span>
                </div>
                <div class="color__list">
                    <div>
                        <input type="text">
                        <label for="">grey</label>
                    </div>
                    <div>
                        <input type="text">
                        <label for="">ivory</label>
                    </div>
                    <div>
                        <input type="text">
                        <label for="">green</label>
                    </div>
                </div>


                <div class="category__menu">
                    <span>category</span>
                    <span><i class="fas fa-chevron-down"></i></span>
                </div>
                <div class="category__list">
                    <div>
                        <input type="text">
                        <label for="">chair</label>
                    </div>
                    <div>
                        <input type="text">
                        <label for="">sofa</label>
                    </div>
                    <div>
                        <input type="text">
                        <label for="">bed</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-container">
            <div class="product">
                <img class="product__img" src="./images/table3.jpg" alt="">
                <p class="product__name">sofa</p>
                <div class="product__stars">
                    <div class="stars">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <p class="product__price">£400</p>
                </div>
                <button class="product__btn">Add to bag</button>
            </div>

            <div class="product">
                <img class="product__img" src="./images/sofa6.jpg" alt="">
                <p class="product__name">sofa</p>
                <div class="product__stars">
                    <div class="stars">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                    </div>
                    <p class="product__price">£300</p>
                </div>
                <button class="product__btn">Add to bag</button>
            </div>

            <div class="product">
                <img class="product__img" src="./images/sofa6.jpg" alt="">
                <p class="product__name">sofa</p>
                <div class="product__stars">
                    <div class="stars">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <p class="product__price">£300</p>
                </div>
                <button class="product__btn">Add to bag</button>
            </div>
        </div>
    </section>
</div>