@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    height: 100%;
}

body{
    /* overflow: hidden; */
    position: relative;
    height: 100%;
}

/* navbar styling */
.navbar-container{
    height: 8rem;
    width: 100%;
} 

.navbar{
    padding-top: 1rem;
    font-size: 1.8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__lists{
    list-style: none;
    display: flex;
    /* padding: 1rem 30rem; */
}

.navbar__lists--item{
    margin-right: 5rem;
    
}
.navbar__lists--item a{
    text-decoration: none;
    color: #000;
}

.navbar__logo,
.navbar__icon{
    padding: 1rem 0;
}
.navbar__icon{
    position: relative;
}
.navbar__icon span i {
    font-size: 2.5rem;
}

.basket-num{
    background-color: red;
    border-radius: 50%;
    color: #fff;
    width: 2rem;
    height: 2rem;
    text-align: center;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    display: none;
}
.basket-num.show{
    display: block;
}

/* main====================== */
main{
    /* margin-top: 7rem; */
    position: relative;
    /* height: 100vh; */
    min-height: calc(100vh - 8rem);
    padding-bottom: 10rem;
    overflow: hidden;
}
.home-section{
    margin-bottom: 2rem;
    
}

.home-section.hidden{
    display: none;
}

/* header============== */
.hero-section{
    display: flex;
    margin: 2rem 0;
    height: 40rem;
    width: 100%;
}
.hero-section__text{
    width: 50%;
    background-color:#DDD8D5;
}
.hero-container{
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    margin: 12rem auto;
}


.hero-section__text--title{
    font-size: 3.6rem;
    width: 40rem;
    
}
.hero-section__text--btn{
    width: 17rem;
    font-size: 2.4rem;
    align-self: flex-start;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding:1rem;
}
.hero-section__img{
    width: 50%;
}
.hero-section__img img{
    width: 100%;
    height: 100%;
}


/* home furniture */
.features-section{
    height: 40vh;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
.features-section h2{
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 4rem;
}

.features-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

/* .features-item{
    
} */

.features-item img{
    width: 25rem;
    height: 25rem;
}
.sub-img{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding-top: 1rem;
}

.sub-img__star{
    display: flex;
    justify-content: space-between;
}

.sub-img__btn{
    cursor: pointer;
}

/* footer */
/* navbar styling */
.footer-container{
    /* height: 8rem; */
    height: 8rem;
    width: 100%;
    background-color: antiquewhite;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
} 

.footer{
    padding-top: 1rem;
    font-size: 1.8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__lists{
    list-style: none;
    display: flex;
    /* padding: 1rem 30rem; */
}

.footer__lists--item{
    margin-right: 5rem;
    
}
.footer__lists--item a{
    text-decoration: none;
    color: #000;
}

.footer__logo,
.footer__icon{
    padding: 1rem 0;
}



/* shop page- page2====================*/
.shop-section{
    display: flex;
    flex-direction: column;
}
.shop-section.hidden{
    display: none;
}
.search-container{
    margin-bottom: 3rem;
    width: 140rem;
    margin-left: auto;
    margin-right: auto;
}
.search-container .search{
    display: flex;
    justify-content: flex-end;
    gap: 7rem;
    font-size: 2rem;
    /* width: 60rem;
    margin: 0 20rem 0 90rem; */
}

.search__input{
    width: 70%;
    outline: none;
    padding: 1rem;
    border-radius: 5px;
}

.search__sort{
    width: 30%;
    
}

.search__sort--btn{
    width: 100%;
    outline: none;
    padding: 1rem;
    border-radius: 5px;
}

.collection__list,
.color__list,
.category__list{
    display: none;
}

.collection__list.show,
.color__list.show,
.category__list.show{
    display: block;
}

.collection__list{
    list-style: none;
    margin-bottom: 1rem;
}

.collection__list li{
    padding-bottom: 1rem;
    font-size: 1.6rem;
}
/* shop */
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    justify-content: center;
    width: 140rem;
    margin: 0 auto;
    
}
.filter-container{
    display: flex;
    font-size: 2rem;
    grid-column: 1/2;
    flex-direction: column;
    background-color: beige;
    padding: 2rem;
}
.filter-container h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    
}
.filter-collection{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.collection__menu,
.color__menu,
.category__menu,
.price__menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.price__list{
    width: 100%;
    position: relative;
}

.range-container input[type="range"]{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: space-evenly;
}

.price-text{
    width: 100%;
    margin: 1rem 0 2.5rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.min-text{
    justify-self: flex-start;
    margin-bottom: 1rem;
}
.max-text{
    justify-self: flex-end;
    margin-bottom: 2rem;
}

.price-text input[type="number"]{
    border: none;
    background-color: transparent;
    margin: 0;
    font-size: 1.5rem;
    width: 47px;
}
.search__filterBtn{
    width: 100%;
    padding: 1rem;
    cursor: pointer;
}
.icon{
    cursor: pointer;
}

/* product */
.product-container{
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 4rem;
}

.product{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
}

.product__img{
    width: 100%;
    margin-bottom: 1rem;
}

.product__name{
    margin-bottom: 1rem;
}

.product__stars{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.product__btn{
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
}
/* product info================== */
.product-item{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    width: 140rem;
    margin: 8rem auto;
}
.productImg-container{
    grid-column: 1/2;
    
}
.productImg-container img{
    width: 72rem;
}
.small-images{
    width: 72rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.small-images img{
    width: 10rem;
    height: 8rem;
}

.arrow-left i,
.arrow-right i{
    font-size: 2rem;
}

.productInfo-container{
    grid-column: 2/-1;
    font-size: 2rem;
}
.productInfo-title,
.productInfo-price{
    margin-bottom: 2rem;
}

.productInfo-text{
    line-height: 1.7;
}

.productInfo-colors{
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.productInfo-colors .circle{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border:1px solid #000;
}
.productInfo-size{
    padding: 2rem;
}
.productInfo-select{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 4rem;
    font-size: 2rem;
}

.productInfo-select input{
    width: 50%;
    padding: 1rem;
}
.productInfo-select button{
    width: 70%;
    padding: 1rem;
    cursor: pointer;
}

.Blue{
    background-color: blue;
}
.Brown{
    background-color: brown;
}
.Green{
    background-color: green;
}
.Black{
    background-color: black;
}
.Beige{
    background-color: beige;
}
.Pink{
    background-color: pink;
}
.Yellow{
    background-color: yellow;
}
.Grey{
    background-color: grey;
}
.Lavender{
    background-color: lavender;
}